.footer {
    padding-top: 25px;
    color: var(--color-82);
    -webkit-box-shadow: 0px -10px 50px 10px #47093E80;
            box-shadow: 0px -10px 50px 10px #47093E80;
    text-align: center;
}

.footer__heading {
    margin-bottom: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    line-height: 1em;
    font-weight: 400;
}

.footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__link {
    display: block;
    font-size: 12px;
    font-weight: 300;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
    color: var(--color-59);
}

.footer__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__center *:not(:last-child) {
    margin-bottom: 37px;
}

.footer__address {
    line-height: 1.25em;
    font-size: 14px;
    font-weight: 400;
}

.footer__right {
    text-align: start;
}

.footer-social_link {
    -webkit-transition: fill .2s ease;
    -o-transition: fill .2s ease;
    transition: fill .2s ease;
}

.footer-social_link:not(:last-child) {
    margin-right: 35px;
}

.footer-copyright__link {
    margin-right: 30px;
}

.footer-social_link:hover path,
.footer-social_link:focus path, 
.footer-social_link:active path,
.footer-copyright__link:hover path,
.footer-copyright__link:focus path,
.footer-copyright__link:active path {
    fill: var(--color-59);
}


.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-copyright__descr {
    line-height: 1.5em;
    text-align: start;
}

@media screen and (max-width: 600px){
    .footer .container {
        padding: 0 15px 20px;
    }

    .footer__heading {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .footer__center *:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer__center {
        margin-bottom: 20px;
    }

    .footer__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-social {
        text-align: center;
    }

    .footer-copyright {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}

@media screen and (min-width: 601px) and (max-width: 900px){
    .footer .container {
        padding: 0 50px 25px;
    }

    .footer__wrap {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 50px
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px){
    .footer .container {
        padding: 0 50px 25px;
    }
}